<%= form_for(@contacto) do |f| %>
  <% if @contacto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacto.errors.count, "error") %> prohibited this contacto from being saved:</h2>

      <ul>
      <% @contacto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br />
    <%= f.text_area :apellidos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
